.logout-button {
    display: flex;
    flex-direction: row-reverse;
    gap: 12px;
    cursor: pointer;
}

.logout-button-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    color: #CE2F13;
}

