.navbar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 110px;
    padding: 20px 61px;
    box-sizing: border-box;
    box-shadow: 0px 2px 8px 0px rgba(57, 65, 72, 0.12);

}

.AnasAcadLogo {
    width: 238.19px;
    height: 45.89px;
    flex-shrink: 0;
    margin-right: 40px;
}

.navbar-left {
    display: flex;
    flex-direction: row-reverse;
    justify-content:left;
    align-items: center;
    margin-left: 40px;
}

.activeNotif {
    width: 24px;
    height: 27px;
    flex-shrink: 0;

}

.nav-separator {
    height: 66px;
    color: #BDBDBD;
    margin-left: 28px;
    margin-right: 28px;
    border-left: 1px solid #ccc; 
}

.logo {
    width: 59px;    
    height: 59px;
    border-radius: 59px;
}

.navbar-p {
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 14px;
}

.student-name {
    color: #000;
    margin-bottom: 4px;
}

.student-code{
    color: #5E0A83;
    margin-top: 4px;
}